<footer>
        <div class="container py-5 ">
            <div class="row">
                <div class="col-md-4">
                    <img src="../../assets/images/SiteIcon.jpg" width="200px" height="200px">
                </div>
                <div class="col-md-4">
                    <div class="foot-1 text-white px-3 py-3">
                        <h4 class="pb-3">Contact Us</h4>
                        <i class="fas fa-phone mr-2 pb-2"></i>
                        <a href="#" class="text-decoration-none text-white px-1 pb-2">002-01001001001</a>
                        <br class="my-4">
                        <i class="fas fa-envelope mr-2"></i>
                        <a href="#" class="text-decoration-none text-white px-1">info@bloodbank.com</a>
                        <br class="my-2">
                        <i class="fas fa-globe mr-2"></i>
                        <a href="#" class="text-decoration-none text-white px-1">www.bloodbank.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="foot-2 text-white px-3">
                        <h4>Pages</h4>
                        <ul class="list-unstyled ">
                            <li><a href="#" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">About</a></li>
                            <li><a href="#" class="text-white">Donate</a></li>
                            <li><a href="#" class="text-white">Camps</a></li>
                            <li><a href="#" class="text-white">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
