nav img{
    height: 60px;
    width: 80px;
}
.tasks{
    background-color: #EEE
}
#counting{
    background-image: url("../../assets/images/header-bg.jpg")
    
}
.overlay{background-color: rgba(0, 0, 0, 0.5)}
.counter i:hover{
    color:#DC3545;
    transition: all 0.5s;
    transform: translateY(-5px);
    transform: scale(1.2,1.2)
}
.counter h3{
    font-size: 55px;
    font-weight: 600;
}
.counter p{
    font-size: 20px;
    font-weight: 500;
}
