<header id="home" class=" d-flex justify-content-center align-items-center text-white" style="height: 100vh">
  <div class="container text-center ">

    <h1>Save Life Connect</h1>
    <button class="btn  myBtn mt-4 ">Register</button>
  </div>
</header>
<div class="content container pt-5  mt-5 ">
  <h1 class="text-center"> We Save Lives</h1>
  <p class="text-center">Find blood donors near your location and make a blood request in less than 5 minutes.</p>
  <div class="row py-5 text-center">
    <div class="col-md-4">
      <div class="item">
        <img src="../../assets/images/images (2).jpg" width="100px" height="100%">
        <p class="p-bold">Find blood</p>
        <p class="text-muted">Find blood donors near your location and request the needed blood type </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <img src="../../assets/images/images (2).png" class="pt-3 bb-1" width="100px" height="100%">
        <p class="p-bold pt-4 mt-2">Get Notified</p>
        <p class="text-muted">Get notified about requests instantly, either on our app or by sms </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <img src="../../assets/images/images (3).png" width="100px" height="100%">
        <p class="p-bold pt-4">Forever Free</p>
        <p class="text-muted">You don't have to pay anything, Save Life Connect is forever Free ! </p>
      </div>
    </div>
  </div>
  <h1 class="py-5 mt-5 text-center">Join the Cause</h1>
  <p class="text-center">Join our cause and help us save more lives. Everyone should have the right to get a blood
    transfusion.</p>
  <div class="row py-5 ">
    <div class="col-md-5 offset-1">
      <div class="item">
        <span><i class="fa fa-2x fa-search py-3 "></i></span>
        <h3 class="d-inline px-2 py-3 ">Find Donors in your Area</h3>
        <p class="text-muted">Get connected in a matter of minutes at zero cost.
          Our App ships with a smart system that finds the closest blood donors.
          Our automated blood donation system works efficiently whenever someone needs a blood transfusion.</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="item">
        <img src="../../assets/images/logo1.png" height="75%" width="75%" class="px-4">
      </div>
    </div>
  </div>
  <div class="row py-5 mt-5">
    <div class="col-md-5 offset-1">
      <div class="item">
        <img src="../../assets/images/Emergency-01.jpg" height="75%" width="75%" class="px-4 ">
      </div>
    </div>
    <div class="col-md-5">
      <div class="item">
        <span><i class="far fa-2x fa-clock py-3"></i></span>
        <h3 class="d-inline px-2 py-3 ">Answer to Emergencies</h3>
        <p class="text-muted">As soon as a new blood request is raised, it is routed among our local volunteer blood
          donors. We know time matters! So we keep you updated with real-time notifications sent directly to you via SMS
          (text message) or the installed mobile app</p>
      </div>
    </div>

  </div>
  <div class="row py-5 ">
    <div class="col-md-5 offset-1">
      <div class="item">
        <span><i class="fas fa-mobile-alt py-3 fa-2x"></i></span>
        <h3 class="d-inline px-2 py-3 ">Made for Everyone</h3>
        <p class="text-muted">All you need to do is send a text message to 8655, "blood need (blood-group) in
          (your-city)", in any language you want. Our system is smart enough to understand anything you write and helps
          you find a donor within minutes if not seconds.</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="item">
        <img src="../../assets/images/E2M9EoW6_400x400.jpg" height="75%" width="75%" class="px-4">
      </div>
    </div>
    <div class="row py-5 mt-5">
      <div class="col-md-5 offset-1">
        <div class="item">
          <img src="../../assets/images/download (4).jpg" height="75%" width="75%" class="px-4 ">
        </div>
      </div>
      <div class="col-md-5">
        <div class="item">
          <span><i class="fas fa-sign-language py-3 fa-2x"></i></span>
          <h3 class="d-inline px-2 py-3 ">You are someone's Hero</h3>
          <p class="text-muted">In as little as few minutes, you can become someone's unnamed, unknown, but
            all-important Hero. Saving a life is a noble work that starts very simply and easily. Donate Blood or donate
            Money, every form of contribution you make is important, valued and essential in our shared mission to save
            lives.</p>
        </div>
      </div>
    </div>
  </div>

  <h1 class="text-center">Lives Saved</h1>
  <p class="text-center">Save Life Connect helped saving the live of more than 26 000 people. Help us saving more !</p>
  <div class="row py-5">
    <div class="col-md-4 offset-2">
      <div class="item rate p-3">
        <div class="row">
          <div class="col-md-3">
            <img src="../../assets/images/man1.png" width="100px" class="p-0">
          </div>
          <div class="col-md-9">
            <span class="pt-4 pl-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            <h4 class="py-0 pl-3">Hamza</h4>
            <p class="py-0 pl-3">ISLAMABAD PAKISTAN</p>
          </div>
        </div>
        <p>" We don't have to worry anymore for our emergencies. We simply request blood immediately get contacted by
          donors. "</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item rate p-3">
        <div class="row">
          <div class="col-md-3">
            <img src="../../assets/images/woman2.png" width="100px" class="p-0">
          </div>
          <div class="col-md-9">
            <span class="pt-4 pl-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            <h4 class="py-0 pl-3">Ayesha</h4>
            <p class="py-0 pl-3">KARACHI PAKISTAN</p>
          </div>
        </div>
        <p>" Our hospital often uses Savelife Connect to handle blood transfusion emergencies. It is truly a great
          service. "</p>
      </div>
    </div>

  </div>
  <div class="row py-3">
    <div class="col-md-4 offset-2">
      <div class="item rate p-3">
        <div class="row">
          <div class="col-md-3">
            <img src="../../assets/images/man2.png" width="100px" class="p-0">
          </div>
          <div class="col-md-9">
            <span class="pt-4 pl-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            <h4 class="py-0 pl-3">Ahsen</h4>
            <p class="py-0 pl-3">RAWALPINDI PAKISTAN</p>
          </div>
        </div>
        <p>" A member of my family needed blood but his blood type is quite hard to find. Savelife helped use figure it
          out in no time ! "</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item rate p-3">
        <div class="row">
          <div class="col-md-3">
            <img src="../../assets/images/man4.png" width="100px" class="p-0">
          </div>
          <div class="col-md-9">
            <span class="pt-4 pl-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            <h4 class="py-0 pl-3">Mohammad</h4>
            <p class="py-0 pl-3">LAHORE PAKISTAN</p>
          </div>
        </div>
        <p>" I regularly donate my blood to answer Savelife Connect blood requests. Very proud to contribute saving
          lives ! "</p>
      </div>
    </div>

  </div>
</div>
<div class="reg py-5 mt-5">
  <h1 class="text-white">Start Saving Lives</h1>
  <p>Become a donor or request for blood and help save lives</p>
  <button class="btn  myBtn mt-4 ">Register</button>


</div>
